[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "external/catalogicpp"]
	path = external/catalogicpp
	url = https://github.com/jeandet/catalogicpp
[submodule "external/TimeSeries"]
	path = external/TimeSeries
	url = https://github.com/jeandet/TimeSeries
